.scrolling-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    height: auto;
}

.scrolling-wrapper .col-xs-12 {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin-right: 10px;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.Topcardname {
    text-align: left;
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5em;
    font-size: 18px;
}

/* ///////// animation delay */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}